@using System.Web.Optimization;


<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Client</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    @Styles.Render("~/Content/Styles")
</head>
<body>
    <div>
        <app-root></app-root>
    </div>
    @Scripts.Render("~/Script/Bundles")
</body>
</html>
